@import "variables";
@import "media-queries";

html, body {
	min-height: 100vh;
}

html {
	background-color: $background-color;
	color: $text-color;
	font-size: $small-font-size;

	@include respond-above(sm) {
		font-size: $base-font-size;
	}
}

body {
	display: grid;
	grid-template: "header" auto "nav" auto "main" 1fr "footer" auto / 1fr;

	font-family: $font-body;
	line-height: 1.2;
	
	@include respond-above(sm) {
		grid-template: "header header" auto "nav nav" auto "main sidebar" 1fr "footer footer" auto / 1fr auto;
	}

	& > header {
		grid-area: header;
	}
	& > nav {
		grid-area: nav;
	}
	& > main {
		grid-area: main;
	}
	& > .main-sidebar {
		grid-area: sidebar;
	}
	& > footer {
		grid-area: footer;
	}
}

a {
	color: inherit;
	text-decoration: none;
	&:hover, &:visited {
		color: inherit;
	}
}

h1 { font-size: typographic-scale(4); font-family: $font-heading; text-transform: uppercase; }
h2 { font-size: typographic-scale(3); font-family: $font-heading; text-transform: capitalize; }
h3 { font-size: typographic-scale(2); font-family: $font-heading; }
h4 { font-size: typographic-scale(1); font-family: $font-heading; }
h5 { font-size: typographic-scale(0); font-family: $font-heading; }

p { line-height: 1.4; }

/**********************************************************************************************************************/

body > header {
	display: grid;
	grid-template: "logo" auto "nav" auto / 1fr;
	align-items: baseline;
	gap: 0 1rem;
	
	background: $background-alt-gradient;
	
	@include respond-above(sm) {
		grid-template: "logo nav" auto / auto 1fr;
	}
	
	& > .logo {
		padding: 1rem;
		grid-area: logo;
		font-family: $font-heading;
		font-size: 3rem;
		line-height: 1;
		text-transform: uppercase;
		background: $background-alt-color;
	}

	& > nav {
		grid-area: nav;
	}
}

.main-navbar {
	padding: 1rem;

	display: flex;
	gap: 1rem;

	a {
		display: inline-block;
	}
}

body > main {
	max-width: 60em;
	padding: 1rem;
}

body > .main-sidebar {
	display: none;
	padding: 1rem;
}
