@import "variables";
@import "media-queries";

@import "widgets";
@import "tracks";

html, body {
	min-height: 100vh;
}

html {
	background-color: $background-color;
	color: $text-color;
	font-size: $small-font-size;
	font-weight: 100;

	@include respond-above(sm) {
		font-size: $base-font-size;
	}
}

body {
	display: grid;
	grid-template: "header" auto "nav" auto "main" 1fr "footer" auto / 1fr;

	font-family: $font-body;
	line-height: 1.2;
	
	@include respond-above(sm) {
		grid-template: "header header" auto "nav nav" auto "main sidebar" 1fr "footer footer" auto / 1fr auto;
	}

	& > header {
		grid-area: header;
	}
	& > nav {
		grid-area: nav;
	}
	& > main {
		grid-area: main;
	}
	& > .main-sidebar {
		grid-area: sidebar;
	}
	& > footer {
		grid-area: footer;
	}
}

a {
	color: inherit;
	text-decoration: none;
	&:hover, &:visited {
		color: inherit;
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

:not(header), header.allow-h-style {
	& > h1 { font-size: typographic-scale(5); font-family: $font-heading; color: $text-color-strong; text-transform: uppercase; }
	& > h2 { font-size: typographic-scale(4); font-family: $font-heading; color: $text-color-strong; text-transform: capitalize; }
	& > h3 { font-size: typographic-scale(3); font-family: $font-heading; color: $text-color-strong; }
	& > h4 { font-size: typographic-scale(2); font-family: $font-heading; color: $text-color-strong; }
	& > h5 { font-size: typographic-scale(1); font-family: $font-heading; color: $text-color-strong; }
	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
		margin: 1em 0;
		line-height: 1.2;
	}
}

p { 
	line-height: 1.4; 
	margin: .7em 0;
}

/**********************************************************************************************************************/

body > header {
	display: grid;
	grid-template: "logo" auto "nav" auto / 1fr;
	align-items: baseline;
	gap: 0 1rem;
	
	background: $background-alt-gradient;
	color: $text-color-strong;
	
	@include respond-above(sm) {
		grid-template: "logo nav" auto / auto 1fr;
	}
	
	& > .logo {
		padding: 1rem;
		grid-area: logo;
		font-family: $font-heading;
		font-size: 3rem;
		line-height: 1;
		text-transform: uppercase;
		background: $background-alt-color;
	}

	& > nav {
		grid-area: nav;
	}
}

.main-navbar {
	padding: 1rem;

	display: flex;

	//font-variant: small-caps;
	text-transform: uppercase;
	font-weight: bold;

	.navbar-item {
		position: relative;
		
		& > .navbar-link {
			display: inline-block;
			padding: .5em;
		}

		.navbar-item-children {
			display: none;
			position: absolute;
			background: $background-alt-color;
			border: 4px solid $background-alt-light-color;
			box-shadow: box-shadow-3D();

			& > .navbar-item {
				min-width: 10em;

				& > .navbar-link {
					width: 100%;
				}
			}
		}
		
		& > .navbar-item-children.open, 
		.navbar-item > .navbar-item-children.open {
			display: block;
		}

		@include respond-on-hover-devices {
			&:hover > .navbar-item-children, 
			.navbar-item:hover > .navbar-item-children {
				display: block;
			}
		}

		&:hover {
			background-color: $background-alt-light-color;
		}
	}
}

body > main {
	max-width: 60em;
	padding: 1rem;
}

body > .main-sidebar {
	display: none;
	padding: 1rem;

	@include respond-above(sm) {
		display: block;
	}
}

body > footer {
	padding: 1rem;
	font-size: .8rem;
	color: $text-color-weak;
	text-align: center;

	@include respond-above(sm) {
		text-align: left;
	}
}
